.submissions-list tr .sub-play {
  width: 1em;
  font-size: 2em;
  padding: .2em .5em;
  text-align: center;
}

.submissions-list tr .sub-listened {
  text-align: right;
  padding: 0 2em 0 0;
}

.submissions-list tbody .sub-selected .sub-play {
  background: #dadada;
}

.btn-play {
  color: #90e0b2;
}

tr:not(.sub-selected) .sub-play .btn-play:hover {
  color: #2bdc2b;
  cursor: pointer;
}

.track-controls { text-align: right }

.btn-vote {
  padding: 0.5em 0.5em;
  color: #fffcd9;
  cursor: pointer;
  font-size: 0.65em;
  background: transparent;
  border: 2px solid #fdff9a;
  border-radius: 3px;
  font-weight: bold;
  transition: all .5s;
}

.btn-vote i { color: inherit; }

.btn-vote span {
  margin: 0 5px;
  font-size: 1.2em;
  font-variant: all-small-caps;
}

.btn-vote:hover {
  color: #98800f;
  border-color: #98800f;
}

.btn-vote:hover i {
  transition: inherit;
  transform: rotate(360deg);
}

.btn-contest-submit {
  display: flex;
  margin: 0 auto;
  padding: .5em 1em;
  width: 25%;
  min-width: 7em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
  background: deepskyblue;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.player-placeholder {
  margin: 0;
  height: 8em;
  display: flex;
  justify-content: center;
  text-align: center;
  color: gray;
  border-radius: 5px;
  line-height: 2em;
}

.contest-header {
  max-width: 100%;
  margin: 0 0 -1em;
  padding: 2em 0;
  background: transparent;
  text-align: center;
  min-height: 18em;
}

.contest-header.small {
  min-height: 5em;
}

h3.now-playing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9b145;
  border-top-color: #ffd493;
}

.sub {
  height: 3em;
}

.sub-selected {
  border: 4px solid #dadada;
}

.sub-selected .btn-play {
  color: #fff;
}


@media only screen and (max-width: 768px) {
  .contest-header { min-height: 23em; padding: 2em 3em; }
}

@media only screen and (max-width: 425px) {
  .contest-submissions { font-size: 0.9em; }
  
  .submissions-list tr .sub-play {
    padding: .2em;
  }
}