.submissions-list tr .sub-play {
  width: 1em;
  font-size: 2em;
  padding: .2em .5em;
  text-align: center;
}

.submissions-list tbody .sub-selected .sub-play {
  background: #62d2bd;
}

.btn-play {
  color: #90e0b2;
}

tr:not(.sub-selected) .sub-play .btn-play:hover {
  color: #2bdc2b;
  cursor: pointer;
}

.track-controls { padding: 1em 0; text-align: right }

.btn-vote {
  padding: 0.5em 0.5em;
  color: #ffe457;
  text-shadow: 1px 2px 0px #d89b2c;
  cursor: pointer;
  font-size: 1.25em;
  background: #f1f1f1;
  border: 2px solid #d6d6d6;
  border-radius: 3px;
}

.btn-vote span {
  margin: 0 5px;
  text-shadow: none;
  color: gray;
  font-size: 0.75em;
}

.btn-vote:hover {
  color: #ffef9d;
}

.btn-contest-submit {
  display: flex;
  margin: 0 auto;
  padding: .5em;
  width: 25%;
  min-width: 7em;
  height: 2.5em;
  align-items: center;
  justify-content: center;
  background: deepskyblue;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.player-placeholder {
  margin: 0;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  border-radius: 5px;
}

.contest-header {
  max-width: 100%;
  margin: 0 0 -1em;
  padding: 0;
  background: transparent;
  text-align: center;
  min-height: 18em;
}

.contest-nowplaying h3 { color: #ff530e }

.sub {
  height: 5em;
}

.sub-selected {
  background-color: #b5edf5;
  color: #272727;
}

.sub-selected .btn-play {
  color: #fff;
}


@media only screen and (max-width: 768px) {
  .contest-header { min-height: 23em; padding: 2em 0 }
}

@media only screen and (max-width: 425px) {

  .btn-vote { width: 100% }
}