section.landing {
  background-color: transparent;
  text-align: center;
}

.landing p {
  font-size: 1.5em;
}

.btn.btn-landing {
  color: #fff;
  background-color: #64b4c5;
  font-size: 1.25em;
  display: block;
  margin: 2em 0;
  border-bottom: 5px solid #378da0;
}

#s-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -555;
  background: url(/img/swords.svg) no-repeat center;
  opacity: 0.4;
}