.landing,
.landing-about {
  padding: 2em;
  background-color: transparent;
  text-align: center;
}

.landing p {
  font-size: 1.5em;
}

.btn.btn-landing {
  max-width: 12em;
  margin: 3em auto 1em;
  color: #fff;
  background-color: #57cbff;
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  border-bottom: 7px solid #2fb1ea;
}

#s-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -555;
  background: url(/img/swords.svg) no-repeat center;
  opacity: 0.4;
}

.landing-about h2 {
  margin: 1em;
  font-size: 2.5em;
  font-variant: all-small-caps;
  color: #2d2d2d;
}

.landing-about p {
  max-width: 28em;
  margin: 0 auto 2em;
  font-size: 1.4em;
  text-align: left;
  line-height: 2em;
  color: #2d2d2d;
}