.contest-ongoing {
  margin: 0 0 1.5em;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  text-decoration: none;
  flex-basis: 20em;
  flex-grow: 1;
  font-variant: all-small-caps;
  font-size: 1.5em;
}

.contest-ongoing h3 {
  background: #424242;
  color: #e9e4e6;
  border: 0;
  text-shadow: none;
  border-radius: 5px 5px 0 0;
}

.contest-ongoing h3 i {
  margin: 0 10px 0 0;
}

.contest-ongoing:hover .stats {
  background: #007880;
}

.contest-ongoing:active h3 {
  background-color: #2d2d2d;
}

.stats {
  padding: 5px 10px;
  font-size: .8em;
  font-weight: bold;
  text-align: right;
  color: #fff;
  background: #313131;
  border-radius: 0 0 5px 5px;
  transition: all .2s;
}



@media only screen and (max-width: 425px) {
  .contest-ongoing h3 {
    font-size: 0.9em;
  }
}