.contest-ongoing {
  margin: 0 0.75em 1.5em;
  border: 1px solid #d6d6d6;
  background: #fdfdfd;
  border-radius: 5px;
  text-decoration: none;
  flex-basis: auto;
  flex-grow: 1;
}

.contest-ongoing:hover .stats {
  background: rgb(66, 145, 150);
}

.contest-ongoing h3 {
  padding: 0 1em;
  font-size: 1em;
  color: #505050;
}

.stats {
  padding: 5px 10px;
  font-size: .8em;
  font-weight: bold;
  text-align: right;
  color: #fff;
  background: rgb(245, 175, 115);
  border-radius: 0 0 5px 5px;
}