@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source sans pro';
  background: 
    linear-gradient(#fff, #0000) no-repeat, 
    url('/img/ep_naturalwhite.png');
}

main {
  max-width: 70em;
  margin: 0 auto;
  padding: 0 22%;
  /*background:
    url(/img/loudspeaker.svg) no-repeat 130% 10vh / 40%, 
    url(/img/loudspeaker.svg) no-repeat -30% 10vh / 40%;*/
}

#s-top {
  width: 98%;
  height: 18px;
  background-color: #ef4645;
  color: #ffa5a5;
  font-size: 0.8em;
  padding: 5px 1%;
  font-weight: bold;
  font-family: 'courier';
  overflow: hidden;
  text-align: justify;
  line-height: 1.5em;
  transition: height .5s ease;
}

#s-left {
  background-position-x: 105%;
}

#s-left,
#s-right {
  width: 15vw;
  height: 22em;
  background: url(/img/loudspeaker.svg) no-repeat 0 50% / 333%;
  position: absolute;
  margin: 17vh 0 0;
  z-index: -5;
  opacity: 0.7;
}

#s-right { right: 0 }

section {
  margin: 0 auto;
  padding: 2.5em 2em;
  background: #f9f9f9;
}

section.no-pad { padding: 0 }

h1 {
  margin: .5em auto 1em;
  font-size: 2.5em;
  font-family: 'Cinzel Decorative';
  font-weight: 100;
  text-shadow: 0px 2px 4px #868585;
}

h1 p { margin: 10px; font-size: 0.8em; }

h2 {
  color: #8e8e8e;
}

h3 {
  margin: 0;
  padding: 1em;
  font-size: 1.35em;
  color: #fff;
  background-color: #3a9679;
  border-top: 5px solid #187b3c;
  text-shadow: 0px 2px 0px #6d6d6d;
}

h3.fancy {
  padding: 1.05em 1em 0 1em;
  font-size: 2em;
  font-weight: 600;
  font-family: 'cinzel decorative';
  text-shadow: none;
  line-height: 0.6em;
}

table {
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
}

td, th {
  padding: .7em 1em;
}

th {
  text-align: left;
}

input[type="submit"] { cursor: pointer }

input[type="submit"]:not([disabled]) {
  background: #5eb3ff;
  color: #fff;
}

.breadcrumb {
  margin: 0 auto;
  padding: 1.25em;
  font-size: 0.9em;
  background-color: #232323;
  border-bottom: 5px solid #c4ecf3;
  color: #fff;
}

.breadcrumb > a::after {
  display: inline-block;
  content: '//';
  margin: 0 0.5em;
  color: lightgray;
}

.breadcrumb > a:link,
.breadcrumb > a:visited {
  color: #adadad;
}

.breadcrumb-status { float: right }

.alert {
  margin: 1em;
  padding: 1em;
  text-align: center;
  color: gray;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.loader {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.25em;
}

.page-container {
  max-width: 90vw;
  margin: 0 auto 5em;
  border: 1px solid #75d9fd;
  box-shadow: 1px 8px 8px 0px #dadada;
}

.hidden { display: none }

#s-top.hide { height: 0; padding: 0 }

.form-control {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  padding: 0.7em;
  margin: 1em 0;
  border: 1px solid gray;
  border-radius: 4px;
}

section.register {
  max-width: 25em;
}

.btn {
  text-decoration: none;
  padding: 0.8em;
  font-size: 0.8em;
  border-radius: 5px;
  background: #e2e2e2;
}

.btn i { margin: 0 6px 0 0 }

.btn.btn-create { color: #31a6c1; }

.text-success { color: rgb(0, 197, 0) }
.text-fail { color: lightcoral }
.text-danger { color: red }
.text-warning { color: gold }
.text-muted { color: lightgray }

.alert-danger {
  margin: 1em 0;
  color: #ff6c6c;
  border: 3px solid #ff6c6c;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.alert-danger div:first-of-type,
.alert-danger div:last-of-type {
  width: 4em;
  text-align: left;
}

.icon { margin: 0 4px 0 0; }


@media only screen and (max-width: 768px) {
  main {
    padding: 0 5%;
  }

  #s-left { background-position-x: 105% }
}

@media only screen and (min-width: 1024px) {
  #s-left,
  #s-right {
    width: 10vw;
    height: 100vh;
    background: url(/img/loudspeaker.svg) no-repeat 0 25% / 333%;
    position: absolute;
    margin: 5em 0 0 0;
  }

  #s-left { background-position-x: 105% }
}
